.main {
    width: 100%;
}

.main-title {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 69px;
    z-index: 10;
    height: 80px;
    padding-top: 10px;
    background: #ffffff;
}

.left-area {
    margin-top: 80px;
    width: 40%;
    float: left; 
    text-align: center;
    position: fixed;
    z-index: 5;
    background: #ffffff;
}

.right-area {
    margin-top: 80px; 
    width: 60%; 
    float: right;
}

@media (max-width: 1300px) {
    .left-area {
        margin-top: 80px;
        width: 100%;
        text-align: center;
        position: fixed;
        z-index: 5;
        background: #ffffff;
    }
    .right-area {
        margin-top: 600px; 
        width: 100%;
    }
}